<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <body>
    <div class="container">
      <div class="image-section">
        <img src="/img/avatar.png" alt="image">
      </div>
      <h1>Welcome to my Portfolio!</h1>
      <div class="center-section">
        <p>This is the home page.</p>
      </div>

      <div class="draw-section">
        <canvas id="canvas" width="500" height="500"></canvas>
      </div>
    </div>
    <footer class="footer">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>