<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <body>
        <div class="resume-section">
        <iframe
        scrolling="no"
        src="https://drive.google.com/file/d/1Pp1s3Q5EOZWpMn8JUs9AVvK_Z0yflkJS/preview">
        </iframe>
        </div>  
    </body>
    <footer class="footer">
        <%- include('./partials/footer'); %>
      </footer>
</html>